# Google Drive service account credentials
GOOGLE_DRIVE_CLIENT_EMAIL=service-account-email@your-project.iam.gserviceaccount.com
GOOGLE_DRIVE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
GOOGLE_DRIVE_FOLDER_ID=your_drive_folder_id_here

# Express port (optional)
EXPRESS_PORT=5500
PORT=5500